<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
    <server>
      <!-- id值和项目的pom.xml的repository/mirror一致 -->
      <id>releases</id>
      <!-- user name and password pass from commnand or env variable -->
      <username>${nexus.admin.username}</username>
      <password>${nexus.admin.password}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${nexus.admin.username}</username>
      <password>${nexus.admin.password}</password>
    </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles>
    <profile>
      <id>nexus-integration</id>
      <!-- 管理lib的仓库 -->
      <repositories>
        <repository>
          <id>nexus3</id>
          <name>Local Docker Nexus3 Repository</name>
          <url>http://localhost:8081/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
            <!-- updatePolicy: 更新策略 -->
            <!-- maven将比较本地POM的时间戳 (存储在仓库的maven-metadata文件中) 和远端的 -->
            <!-- 配置选项可以设置: always, daily (一天一次, 默认), interval:x (x为一整数, 单位分钟), never -->
            <updatePolicy>always</updatePolicy>
            <!-- checksumPolicy: maven部署文件到仓库时, 也会部署对应的校验和文件 -->
            <!-- 你可以设置: ignore, fail或者warn用于当校验和文件不存在或者检验失败时的处理策略 -->
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>
      <!-- 管理plugin的仓库 -->
      <!-- 这里好似不起作用, 暂时不完全确定有没有连接到这里-->
      <pluginRepositories>
        <pluginRepository>
          <id>nexus3</id>
          <name>Local Docker Nexus3 Repository</name>
          <url>http://localhost:8081/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus-integration</activeProfile>
  </activeProfiles>
</settings>